@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: 'Josefin Sans' !important;
}

:root {
  --regular: 1.6rem;
  --heading: 2.2rem;
  --subhead: 1.8rem;
  --bg: #1c1717;
}

p {
  font-size: var(--regular);
}

h1 {
  font-size: var(--heading) !important;
}

/* body */
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  opacity: 0;
  animation: fade-in .7s ease-in-out forwards;
}

.container h1 {
  padding-top: 10px;
  margin: auto;
  transform: scale(8);
  font-weight: bolder;
  background-image: url(https://images.unsplash.com/photo-1433357094834-cdeebc8e9dce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8em9vbSUyMGJhY2tncm91bmQlMjBvZmZpY2V8ZW58MHx8MHx8&w=1000&q=80);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.15);
}

#pageTwo .container h1 {
  transform: scale(5);
  background-size: unset;
  color: rgba(0, 0, 0, 0.15);
  background-image: url(https://images.unsplash.com/photo-1480714378408-67cf0d13bc1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80);
}

#pageThree {
  width: 100%;
  height: 100vh;
  display: flex;
}

#pageThree div {
  margin: auto;
}

.container nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px auto 150px;
}

.container nav p {
  width: 30%;
  margin: auto;
  text-align: center;
}

.load-top {
  position: absolute;
  top: -50px;
  left: -50px;
  z-index: -1;
  animation: circle-scale 1s ease-out forwards;
}

.load-bot {
  position: absolute;
  bottom: -50px;
  right: -50px;
  z-index: -1;
  animation: circle-scale 1.5s ease-out forwards;
}

.input-field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: black;
  text-decoration: none;
}

/* Button Body */
/* CSS */
.btn {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
  will-change: transform;
  margin: 0 auto 50px;
}

.btn:disabled {
  pointer-events: none;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}

#form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

form {
  width: 90%;
  max-width: 500px;
}

form #form-title {
  margin-top: 0;
  font-weight: 400;
  text-align: center;
}

form #debt-amount-slider {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  position: relative;
  width: 100%;
  height: 50px;
  user-select: none;
}

form #debt-amount-slider::before {
  content: " ";
  position: absolute;
  height: 2px;
  width: 100%;
  width: calc(100% * (4 / 5));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
}

form #debt-amount-slider input,
form #debt-amount-slider label {
  box-sizing: border-box;
  flex: 1;
  user-select: none;
  cursor: pointer;
}

form #debt-amount-slider label {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 100%;
  user-select: none;
}

form #debt-amount-slider label::before {
  content: attr(data-debt-amount);
  position: absolute;
  left: 50%;
  padding-top: 10px;
  transform: translate(-50%, 45px);
  font-size: 14px;
  letter-spacing: 0.4px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0.85;
  transition: all 0.15s ease-in-out;
}

form #debt-amount-slider label::after {
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

form #debt-amount-slider label:hover::after {
  transform: translate(-50%, -50%) scale(1.25);
}

form #debt-amount-slider input {
  display: none;
}

form #debt-amount-slider input:checked+label::before {
  font-weight: 800;
  opacity: 1;
}

form #debt-amount-slider input:checked+label::after {
  border-width: 4px;
  transform: translate(-50%, -50%) scale(0.75);
}

form #debt-amount-slider input:checked~#debt-amount-pos {
  opacity: 1;
}

form #debt-amount-slider input:checked:nth-child(1)~#debt-amount-pos {
  left: 10%;
}

form #debt-amount-slider input:checked:nth-child(3)~#debt-amount-pos {
  left: 30%;
}

form #debt-amount-slider input:checked:nth-child(5)~#debt-amount-pos {
  left: 50%;
}

form #debt-amount-slider input:checked:nth-child(7)~#debt-amount-pos {
  left: 70%;
}

form #debt-amount-slider input:checked:nth-child(9)~#debt-amount-pos {
  left: 90%;
}

form #debt-amount-slider #debt-amount-pos {
  display: block;
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 50%;
  transition: all 0.15s ease-in-out;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  opacity: 0;
  z-index: 2;
}

form:valid #debt-amount-slider input+label::before {
  transform: translate(-50%, 45px) scale(0.9);
  transition: all 0.15s linear;
}

form:valid #debt-amount-slider input:checked+label::before {
  transform: translate(-50%, 45px) scale(1.1);
  transition: all 0.15s linear;
}

form+button {
  display: block;
  position: relative;
  margin: 56px auto 0;
  padding: 10px 20px;
  appearance: none;
  transition: all 0.15s ease-in-out;
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  background: #fff;
  border: 2px solid #000;
  border-radius: 8px;
  outline: 0;
  user-select: none;
  cursor: pointer;
}

form+button:hover {
  background: #000;
  color: #fff;
}

form+button:hover:active {
  transform: scale(0.9);
}

form+button:focus {
  background: #4caf50;
  border-color: #4caf50;
  color: #fff;
  pointer-events: none;
}

form+button:focus::before {
  animation: spin 1s linear infinite;
}

form+button::before {
  display: inline-block;
  width: 0;
  opacity: 0;
  content: "\f3f4";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  margin-right: 0;
  transform: rotate(0deg);
}

#pageThree {
  background-color: white;
}

#pageThree h1 {
  font-family: 'Open Sans', -apple-system, 'Segoe UI', sans-serif;
  font-size: var(--heading);
  font-weight: bold;
  color: rgba(0, 0, 0, 0.15);
  background-image: url(https://images.unsplash.com/photo-1449824913935-59a10b8d2000?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  box-sizing: border-box;
  transform: scale(3);
}

.dots {
  display: inline-flex;
}

.dots--animate .dot.z {
  animation: scale 0.8s 0.2s forwards;
}

.dots--animate .dot.f,
.dots--animate .dot.s {
  animation: right 0.5s forwards;
}

.dots--animate .dot.l {
  animation: rightDown 0.4s 0.1s forwards linear, drop 2s 0.4s forwards linear;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 10px;
  position: relative;
  margin-left: 6px;
  background-image: url(https://images.unsplash.com/photo-1449824913935-59a10b8d2000?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80);
}

.dot.z {
  position: absolute;
  transform: scale(0);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.dot.f,
.dot.s {
  transform: translateX(0px);
}

@keyframes right {
  100% {
    transform: translateX(16px);
  }
}

.dot.t {
  background: transparent;
}

.dot .l {
  margin-left: 0;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes rightDown {
  50% {
    top: 4px;
    left: 16px;
  }

  100% {
    top: 12px;
    left: 24px;
  }
}

@keyframes drop {
  100% {
    transform: translate(70px, calc(35px + (100vh/2)));
  }
}

.abs-twitter {
  position: fixed;
  right: calc(24px + .6vw);
  top: calc(22px + .6vw);
  transform: translate(-8px, 4px);
  opacity: 0;
  transition: 0.3s ease-in;
}

.abs-twitter--show {
  transform: translate(0, 0);
  opacity: 1;
  animation: birdie 1s 0.8s linear infinite;
}

@keyframes birdie {
  13% {
    transform: rotate(14deg);
  }

  26% {
    transform: rotate(28deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

form:invalid+button {
  pointer-events: none;
  opacity: 0.25;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }

  to {
    transform: rotate(360deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }
}

@keyframes circle-scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(100);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}